@use "../tools/config" as *;
@use "../tools/mixins" as *;

.banner-hero {
  padding: 50px 0 60px 0;
  background-color: $clr-primary;
  background-image: url("../images/background/home-hero.jpg"), $liner-primary;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @include for-min-size("md") {
    padding: 130px 0 0 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    color: $clr-white;
    max-width: 770px;

    @include for-min-size("md") {
      font-size: 50px;
    }
  }

  &__text {
    margin: 24px 0 0 0;
    line-height: 1.2;
    color: $clr-white;
    max-width: 770px;

    @include for-min-size("md") {
      font-size: 16px;
    }
  }

  &__button {
    margin: 24px 0 0 0;
  }

  &__subtitle {
    display: none;

    @include for-min-size("md") {
      display: block;
      margin: 64px 0 0 0;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.2;
      color: $clr-white;
    }
  }

  &__filter {
    align-self: stretch;
  }

  &__filter-open {
    position: fixed;
    left: 15px;
    bottom: 15px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    z-index: 10;

    @include for-min-size("md") {
      display: none;
    }
  }

  &__filter-close {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    margin: 0 0 8px 0;

    > * + * {
      margin: 0 0 0 8px;
    }

    @include for-min-size("md") {
      display: none;
    }
  }

  &__filter-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $clr-white;
    transform: translateX(-100%);
    transition: all 0.25s ease 0s;
    padding: 40px 15px 40px 15px;
    z-index: 10;

    @include for-max-size("md") {
      overflow: hidden;
      overflow-y: scroll;
    }

    @include for-min-size("md") {
      position: static;
      background: transparent;
      width: 100%;
      height: auto;
      margin: 18px 0 0 0;
      padding: 0 0 0 0;
      transform: translateX(0%);
    }

    &--active {
      transform: translateX(0%);
    }
  }
}
