@use "../tools/config" as *;
@use "../tools/mixins" as *;

.building {
  margin: 16px 0 30px 0;

  @include for-min-size("md") {
    margin: 24px 0 60px 0;
  }

  @include for-min-size("lg") {
    margin: 32px 0 80px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__photo-viewer {
    position: relative;
    border-radius: 4px;
    background: $clr-gray;
    min-height: 300px;
    overflow: hidden;
    flex: 1 1 50%;

    @include for-min-size("md") {
      min-height: 490px;
    }

    @include for-min-size("lg") {
      order: 2;
      margin: 0 0 0 32px;
      flex: 1 1 auto;
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all 0.25s ease 0s;
    }
  }

  &__thumbnails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0 0 0;

    > * + * {
      margin: 0 0 0 18px;
    }

    @include for-min-size("md") {
      margin: 24px 0 0 0;
      > * + * {
        margin: 0 0 0 35px;
      }
    }

    @include for-min-size("lg") {
      margin: 0 0 0 0;
      flex-direction: column;
      order: 1;

      > * + * {
        margin: 35px 0 0 0;
      }
    }

    a {
      opacity: 0.5;
      transition: all 0.25s ease 0s;

      &:hover {
        opacity: 0.875;
      }

      &.--active {
        opacity: 1;
      }
    }

    a > img {
      width: 40px;
      height: 40px;
      border-radius: 4px;

      @include for-min-size("md") {
        width: 70px;
        height: 70px;
        object-fit: cover;
        object-position: center;
      }
    }

    a > .building-descr {
      display: none;
    }
  }

  &__descr-wrapper {
    margin: 16px 0 0 0;

    @include for-min-size("md") {
      margin: 24px 0 0 0;
    }

    @include for-min-size("lg") {
      flex: 0 0 33.33%;
      margin: 0 0 0 32px;
      order: 3;
    }
  }

  &__navigations {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;

    @include for-min-size("lg") {
      flex: 0 0 100%;
      order: 4;
    }
  }

  &__button-prev {
    flex-shrink: 0;
    margin-right: 12px;

    @include for-min-size("md") {
      margin-right: 18px;
    }

    @include for-min-size("lg") {
      margin-right: 24px;
    }
  }

  &__button-next {
    flex-shrink: 0;
    margin-right: 16px;

    @include for-min-size("md") {
      margin-right: 24px;
    }

    @include for-min-size("lg") {
      margin-right: 32px;
    }
  }

  &__progress {
    flex-shrink: 1;
    display: flex;
    width: 100%;
    height: 6px;
    overflow: hidden;
    border-radius: 4px;
    background: $clr-gray;

    > span {
      width: 0%;
      height: 100%;
      border-radius: inherit;
      background: $clr-primary;
      transition: width 0.25s ease-out 0s;
    }

    &--white > span {
      background: $clr-white;
    }
  }
}

.building-descr {
  margin: 16px 0 0 0;

  @include for-min-size("lg") {
    margin: 0 0 0 0;
  }

  &__stage {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
  }

  &__title {
    margin: 16px 0 0 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: $clr-primary;

    @include for-min-size("md") {
      font-size: 28px;
    }

    @include for-min-size("lg") {
      font-size: 32px;
    }
  }

  > p {
    margin: 16px 0 0 0;
  }
}
