@use "../tools/config" as *;
@use "../tools/mixins" as *;

.filter-hero {
  position: relative;
  display: flex;
  flex-direction: column;

  @include for-min-size("md") {
    flex-direction: row;
    margin: 0 0 -30px 0;
    border-bottom: none;

    > * + * {
      border-left: 1px solid $clr-gray;
    }
  }

  &__item {
    align-self: stretch;
    position: relative;
    border-bottom: 1px solid $clr-gray;

    @include for-min-size("md") {
      border-bottom: none;
    }

    &:nth-child(1) > button {
      border-radius: 4px 0 0 4px;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      flex: 1 1 15%;
    }

    &:nth-child(4) {
      flex: 1 1 35%;
    }
  }

  &__button {
    position: relative;
    height: 60px;
    width: 100%;
    background: $clr-white;
    border: none;
    padding: 10px 32px 10px 0px;
    text-align: left;
    color: rgba($color: #000000, $alpha: 0.5);
    cursor: pointer;

    @include for-min-size("md") {
      border: none;
      padding: 10px 32px 10px 16px;
    }

    &::before {
      content: "\e900";
      position: absolute;
      top: 50%;
      right: 0;
      font-size: 16px;
      transform: translate(-100%, -50%);
      transition: all 0.25s ease 0s;

      font-family: "user-icon-font" !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      display: flex;
    }

    &--active {
      &::before {
        transform: translate(-100%, -50%) rotate(-180deg);
      }
    }
  }

  &__dropdaown {
    width: 100%;
    max-height: 0;
    border-radius: 4px;
    background: $clr-white;
    transform: translateY(-5px);
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: all 0.25s ease 0s;
    z-index: 1;

    @include for-min-size("md") {
      position: absolute;
      overflow: auto;
      top: 100%;
      left: 0;
    }

    &--active {
      opacity: 1;
      visibility: visible;
      max-height: 300px;

      @include for-min-size("md") {
        transform: translateY(2px);
      }
    }
  }

  &__input-num {
    position: relative;
    padding: 1px 1px 0px 1px;

    &::before {
      content: "₽";
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      font-size: 16px;
      line-height: 1.2;
      transform: translate(-100%, -50%);
    }

    > input[type="number"] {
      position: relative;
      width: 100%;
      border: none;
      padding: 14px 32px 13px 0px;
      outline: none;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      @include for-min-size("md") {
        padding: 14px 32px 13px 16px;
      }
    }
  }

  &__checkbox {
    position: relative;
    margin: 0 0 18px 0;
    padding: 0 0 0 32px;

    &:nth-child(1) {
      margin-top: 18px;
    }

    @include for-min-size("md") {
      margin: 0 20px 18px 20px;
    }

    > input[type="checkbox"] {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;

      &:checked + label:after {
        opacity: 1;
      }
    }

    > label {
      font-size: 16px;
      line-height: 1.2;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        border: 1px solid $clr-primary;
        transform: translateY(-50%);
        cursor: pointer;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 2px;
        width: 14px;
        height: 14px;
        border-radius: 3px;
        background: $clr-primary;
        transform: translateY(-50%);
        transition: all 0.25s ease 0s;
        opacity: 0;
      }
    }
  }

  &__search {
    align-self: flex-start;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    border: none;
    background: $clr-balck;
    margin: 24px 0 0 0;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    cursor: pointer;

    @include for-min-size("md") {
      border-radius: 0 4px 4px 0;
      margin: 0;
      height: 60px;
    }

    span {
      margin: 2px 0 0 0;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $clr-white;

      @include for-min-size("md") {
        display: none;
      }

      @include for-min-size("lg") {
        display: block;
      }
    }

    > i {
      margin: 0 0 0 12px;
      font-size: 24px;
      color: $clr-white;

      @include for-min-size("md") {
        margin: 0 0 0 0;
      }

      @include for-min-size("lg") {
        margin: 0 0 0 12px;
      }
    }
  }
}
