@use "../tools/config" as *;
@use "../tools/mixins" as *;

/* Link: base */
.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
  color: $clr-dark;
  text-decoration: none;
  border-bottom: 1px dashed $clr-dark;

  &:hover {
    border-bottom: 1px solid $clr-dark;
  }

  &--clr-primary {
    color: $clr-primary;
    border-bottom: 1px dashed $clr-primary;

    &:hover {
      border-bottom: 1px solid $clr-primary;
    }
  }

  &--clr-white {
    color: $clr-white;
    border-bottom: 1px dashed $clr-white;

    &:hover {
      border-bottom: 1px solid $clr-white;
    }
  }
}
