@use "../tools/config" as *;
@use "../tools/mixins" as *;

.slider {
  &__navigations {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
  }

  &[data-slider="mobile"] > &__navigations {
    @include for-min-size("md") {
      display: none;
    }
  }

  &__button-prev {
    flex-shrink: 0;
    margin-right: 12px;

    @include for-min-size("md") {
      margin-right: 18px;
    }

    @include for-min-size("lg") {
      margin-right: 24px;
    }
  }

  &__button-next {
    flex-shrink: 0;
    margin-right: 16px;

    @include for-min-size("md") {
      margin-right: 24px;
    }

    @include for-min-size("lg") {
      margin-right: 32px;
    }

    &[style="display: none;"] + .slider__progress {
      opacity: 0;
    }
  }

  &__progress {
    flex-shrink: 1;
    display: flex;
    width: 100%;
    height: 6px;
    overflow: hidden;
    border-radius: 4px;
    background: $clr-gray;

    > span {
      width: 0%;
      height: 100%;
      border-radius: inherit;
      background: $clr-primary;
      transition: width 0.25s ease-out 0s;
    }

    &--white > span {
      background: $clr-white;
    }
  }
}
