@use "../tools/config" as *;
@use "../tools/mixins" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px 32px;
  padding: 32px 0 32px 0;

  @include for-min-size("md") {
    grid-template-columns: 1fr 1fr;
  }

  @include for-min-size("lg") {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.columns {
  display: block;

  @include for-min-size("lg") {
    display: flex;
  }

  &__content {
    min-width: 0;
    @include for-min-size("lg") {
      flex: 0 0 calc(75% - 8px);
    }
  }

  &__sidebar {
    min-width: 0;
    @include for-min-size("lg") {
      flex: 0 0 calc(25% - 8px);
    }
  }
}
