@charset "UTF-8";
/* Connect base fonts */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/Rubik-Regular.woff2") format("woff2"), url("../fonts/rubik/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/rubik/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Connect icon fonts */
@font-face {
  font-family: "user-icon-font";
  src: url("../fonts/user-icon-font/user-icon-font.woff2") format("woff2"), url("../fonts/user-icon-font/user-icon-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* Set reset <https://piccalil.li/blog/a-modern-css-reset> */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  line-height: 1.2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Icon font classes */
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "user-icon-font" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i::before {
  display: flex;
}

.icon--caret-down:before {
  content: "\e900";
}

.icon--caret-left:before {
  content: "\e901";
}

.icon--caret-right:before {
  content: "\e902";
}

.icon--caret-up:before {
  content: "\e903";
}

.icon--colse:before {
  content: "\e904";
}

.icon--email:before {
  content: "\e905";
}

.icon--filter-fill:before {
  content: "\e906";
}

.icon--filter-outline:before {
  content: "\e907";
}

.icon--hamburger:before {
  content: "\e908";
}

.icon--heart-fill:before {
  content: "\e909";
}

.icon--heart-outline:before {
  content: "\e90a";
}

.icon--map-pin-fill:before {
  content: "\e90b";
}

.icon--map-pin-outline:before {
  content: "\e90c";
}

.icon--phone-fill:before {
  content: "\e90d";
}

.icon--phone-outline:before {
  content: "\e90e";
}

.icon--search:before {
  content: "\e90f";
}

.icon--telegram:before {
  content: "\e910";
}

.icon--vk:before {
  content: "\e911";
}

.title {
  font-size: 26px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 42px;
  }
}

/* Link: base */
.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
  color: #333333;
  text-decoration: none;
  border-bottom: 1px dashed #333333;
}
.link:hover {
  border-bottom: 1px solid #333333;
}
.link--clr-primary {
  color: #008f53;
  border-bottom: 1px dashed #008f53;
}
.link--clr-primary:hover {
  border-bottom: 1px solid #008f53;
}
.link--clr-white {
  color: #ffffff;
  border-bottom: 1px dashed #ffffff;
}
.link--clr-white:hover {
  border-bottom: 1px solid #ffffff;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
}

.button-primary,
.button-secondary {
  padding: 6px 18px 6px 18px;
  border-radius: 4px;
  min-height: 38px;
}
.button-primary > * + *,
.button-secondary > * + * {
  margin: 0 0 0 10px;
}
.button-primary > i,
.button-secondary > i {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .button-primary > i,
  .button-secondary > i {
    font-size: 24px;
  }
}
.button-primary > span,
.button-secondary > span {
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .button-primary,
  .button-secondary {
    padding: 10px 22px 10px 22px;
    min-height: 46px;
  }
}

.button-primary {
  background-color: #d43a3a;
  background-image: linear-gradient(94.2deg, #f05c5c 0%, #b51717 50%, #f05c5c 100%);
  background-position: left center;
  background-size: 200% 100%;
  transition: all 0.25s ease 0s;
  color: #ffffff;
}
.button-primary:hover {
  background-position: right center;
}
.button-primary > span {
  color: #ffffff;
}

.button-secondary {
  border: 1px solid rgba(212, 58, 58, 0.6);
  background: none;
  color: #d43a3a;
  transition: all 0.25s ease 0s;
}
.button-secondary:hover {
  background: #d43a3a;
  color: #ffffff;
}
.button-secondary--white {
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #ffffff;
}
.button-secondary--white:hover {
  background: #ffffff;
  color: #008f53;
}

.button-round {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 20px;
}
@media only screen and (min-width: 1024px) {
  .button-round {
    width: 70px;
    height: 70px;
  }
}
.button-round--white {
  background: #ffffff;
  color: #008f53;
}
.button-round--outline {
  position: relative;
  border: 1px solid #323232;
  transition: all 0.25s ease 0s;
  color: #323232;
}
.button-round--outline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  opacity: 0;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  background-color: #d43a3a;
  background-image: linear-gradient(94.2deg, #f05c5c 0%, #b51717 100%);
  transition: all 0.25s ease 0s;
}
.button-round--outline > i {
  position: relative;
}
.button-round--outline:hover {
  color: #ffffff;
  border: 1px solid transparent;
}
.button-round--outline:hover::before {
  opacity: 1;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.breadcrumbs > * + * {
  margin: 0 0 0 10px;
}
.breadcrumbs__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  color: #6c6c6c;
  text-decoration: none;
}
.breadcrumbs__link::after {
  content: "\e902";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-family: "user-icon-font" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin: 0 0 0 10px;
}
.breadcrumbs__link--current {
  color: #333333;
  pointer-events: none;
}
.breadcrumbs__link--current::after {
  display: none;
}
@media only screen and (min-width: 768px) {
  .breadcrumbs__link {
    font-size: 16px;
    line-height: 1.1875;
  }
}

/* logo */
.site-logo {
  display: flex;
  align-items: center;
}
.site-logo__link {
  flex: 0 0 auto;
  text-decoration: none;
}
.site-logo__link > img {
  width: 69px;
  height: 43px;
}
@media only screen and (min-width: 1024px) {
  .site-logo__link > img {
    width: 89px;
    height: 56px;
  }
}
.site-logo__text {
  font-size: 14px;
  display: none;
}
.site-logo__text--white {
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .site-logo__text {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    border-left: 1px solid #d9d9d9;
    max-width: 150px;
  }
}

/* menu: primary */
.menu-primary {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  padding: 60px 40px 20px 15px;
  background-color: #008f53;
  background-image: url("../images/decor/house-transparent.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  transition: 0.5s ease 0s;
  z-index: 100;
}
.menu-primary--show {
  transform: translateX(0%);
}
@media only screen and (min-width: 768px) {
  .menu-primary {
    max-width: 480px;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-primary {
    position: static;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: none;
    padding: 18px 0px 18px 0px;
    background: none;
    transform: translateX(0%);
  }
}
.menu-primary__button-close {
  position: absolute;
  top: 20px;
  right: 15px;
  color: #ffffff;
  font-size: 24px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1024px) {
  .menu-primary__button-close {
    display: none;
  }
}
.menu-primary__list {
  list-style-type: none;
}
.menu-primary__list > * + * {
  margin: 20px 0 0 0;
}
@media only screen and (min-width: 1024px) {
  .menu-primary__list {
    display: flex;
    align-items: center;
  }
  .menu-primary__list > * + * {
    margin: 0 0 0 24px;
  }
}
.menu-primary__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
}
@media only screen and (min-width: 1024px) {
  .menu-primary__link {
    font-size: 14px;
    line-height: 1.2;
  }
  .menu-primary__link:hover {
    color: #d9d9d9;
  }
}
.menu-primary__social-container {
  display: flex;
  align-items: center;
  margin: 40px 0 0 0;
}
.menu-primary__social-container > * + * {
  margin: 0 0 0 8px;
}
@media only screen and (min-width: 1024px) {
  .menu-primary__social-container {
    display: none;
  }
}
.menu-primary__link-icon {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
}
.menu-primary__button-send-container {
  margin: 40px 0 0 0;
}
@media only screen and (min-width: 1024px) {
  .menu-primary__button-send-container {
    display: none;
  }
}
.menu-primary__app-container {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .menu-primary__app-container {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
  }
  .menu-primary__app-container > * + * {
    margin: 0 0 0 24px;
  }
}
.menu-primary__app-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-primary__app-link {
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
}
.menu-primary__app-link:hover {
  color: #d9d9d9;
}
.menu-primary__app-icon {
  margin: 0 0 0 12px;
  font-size: 24px;
  color: #ffffff;
}
.menu-primary__app-icon--accent {
  color: #d43a3a;
}
.menu-primary__app-count {
  margin: 0 0 0 6px;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}

/* menu: secondary */
.menu-secondary {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-secondary > * + * {
  margin: 0 0 0 30px;
}
.menu-secondary__list {
  flex: 0 0 calc(50% - 15px);
  list-style-type: none;
}
.menu-secondary__list > * + * {
  margin: 12px 0 0 0;
}
.menu-secondary__link {
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.25 ease-out 0s;
}
.menu-secondary__link:hover {
  opacity: 1;
}

.slider__navigations {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .slider[data-slider=mobile] > .slider__navigations {
    display: none;
  }
}
.slider__button-prev {
  flex-shrink: 0;
  margin-right: 12px;
}
@media only screen and (min-width: 768px) {
  .slider__button-prev {
    margin-right: 18px;
  }
}
@media only screen and (min-width: 1024px) {
  .slider__button-prev {
    margin-right: 24px;
  }
}
.slider__button-next {
  flex-shrink: 0;
  margin-right: 16px;
}
@media only screen and (min-width: 768px) {
  .slider__button-next {
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .slider__button-next {
    margin-right: 32px;
  }
}
.slider__progress {
  flex-shrink: 1;
  display: flex;
  width: 100%;
  height: 6px;
  overflow: hidden;
  border-radius: 4px;
  background: #d9d9d9;
}
.slider__progress > span {
  width: 0%;
  height: 100%;
  border-radius: inherit;
  background: #008f53;
  transition: width 0.25s ease-out 0s;
}
.slider__progress--white > span {
  background: #ffffff;
}

.card-product {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
}
.card-product__thumbnail {
  position: relative;
  width: 100%;
  padding: 0 0 56.2162% 0;
  border-radius: 4px;
  overflow: hidden;
}
.card-product__thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card-product__content {
  margin: 18px 0 0 0;
}
.card-product__content > * + * {
  margin: 8px 0 0 0;
}
.card-product__price {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.15;
  color: #008f53;
}
@media only screen and (min-width: 768px) {
  .card-product__price {
    font-size: 16px;
  }
}
.card-product__name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}
.card-product__buttons {
  display: flex;
  align-items: center;
  margin: 18px 0 0 0;
}
.card-product__buttons > * + * {
  margin: 0 0 0 24px;
}
@media only screen and (max-width: 767px) {
  .card-product__buttons > .button:nth-child(2) {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media only screen and (max-width: 767px) {
  .card-product__buttons > .button:nth-child(2) > i + span {
    display: none;
  }
}
.card-product__marker {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #ffffff;
  padding: 8px 16px 8px 16px;
  min-width: 124px;
  border-radius: 0 0 0 4px;
  background: #008f53;
  text-align: center;
}

.card-stages {
  display: flex;
  padding: 24px 24px 24px 24px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.card-stages > * + * {
  margin: 0 0 0 14px;
}
.card-stages__num {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1875;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.5;
}
.card-stages__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.15;
  color: #ffffff;
}
.card-stages__descr {
  margin: 12px 0 0 0;
  color: #ffffff;
}

.card-about {
  padding: 16px 16px 16px 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #008f53;
  background-image: linear-gradient(94.37deg, rgba(0, 219, 128, 0.6) 52.35%, rgba(0, 0, 0, 0) 100%);
}
.card-about > * + * {
  margin: 16px 0 0 0;
  display: inline-block;
}
.card-about__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1875;
  color: #ffffff;
}
.card-about__descr {
  color: #ffffff;
}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px 0 0 0;
  background: #ffffff;
  overflow: hidden;
  overflow-y: auto;
  transform: translate(-100%);
  transition: all 0.5s ease 0s;
  z-index: 100;
}
.filter--show {
  transform: translate(0%);
}
@media only screen and (min-width: 1024px) {
  .filter {
    position: relative;
    height: auto;
    max-height: 0px;
    width: auto;
    border-radius: 4px;
    transform: translate(0%);
    overflow: hidden;
    opacity: 0;
    z-index: 1;
  }
  .filter--show {
    opacity: 1;
    overflow: visible;
    max-height: 600px;
  }
}
.filter__button-close {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  margin: 0 0 16px 0;
}
.filter__button-close > * + * {
  margin: 0 0 0 8px;
}
@media only screen and (min-width: 1024px) {
  .filter__button-close {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .filter__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1024px) {
  .filter__row {
    padding: 0 0 0 0;
    flex-wrap: nowrap;
  }
  .filter__row > * + * {
    border-left: 1px solid #d9d9d9;
  }
}
@media only screen and (min-width: 768px) {
  .filter__row > .filter__item {
    flex: 0 0 calc(50% - 16px);
  }
}
@media only screen and (min-width: 1024px) {
  .filter__row > .filter__item {
    padding: 0 18px 0 18px;
  }
  .filter__row > .filter__item > .filter__button {
    border-bottom: none;
  }
  .filter__row > .filter__item:nth-child(1), .filter__row > .filter__item:nth-child(2), .filter__row > .filter__item:nth-child(3) {
    flex: 0 0 20%;
  }
  .filter__row > .filter__item:nth-child(4) {
    flex: 0 0 30%;
  }
}
@media only screen and (min-width: 1024px) {
  .filter__row > button.filter__search {
    margin: 0;
    align-self: stretch;
    border-radius: 0 4px 4px 0;
  }
}
.filter__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 32px;
}
@media only screen and (min-width: 768px) {
  .filter__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .filter__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.filter__item {
  position: relative;
}
.filter__button {
  position: relative;
  width: 100%;
  height: 52px;
  border: none;
  background: none;
  text-align: left;
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  cursor: pointer;
}
.filter__button::before {
  content: "\e900";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 16px;
  transform: translate(-10%, -50%);
  transition: all 0.25s ease 0s;
  font-family: "user-icon-font" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}
.filter__button--active::before {
  transform: translate(-10%, -50%) rotate(-180deg);
}
.filter__dropdaown {
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 0px;
  width: 100%;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4px);
  transition: 0.25s ease 0s;
  padding: 0 18px 0 18px;
  z-index: 1;
}
.filter__dropdaown--active {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.filter__input-num {
  position: relative;
}
.filter__input-num::before {
  content: "₽";
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 1;
  font-size: 16px;
  line-height: 1.2;
  transform: translateY(-50%);
  opacity: 0.5;
}
.filter__input-num > input[type=number] {
  width: 100%;
  height: 56px;
  outline: none;
  border: none;
  padding: 0 18px 0 0;
}
.filter__input-num > input[type=number]::-webkit-inner-spin-button, .filter__input-num > input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filter__checkbox {
  position: relative;
  padding: 0 0 18px 0;
}
.filter__checkbox:nth-child(1) {
  padding-top: 18px;
}
.filter__checkbox > input[type=checkbox] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.filter__checkbox > input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.filter__checkbox > label {
  position: relative;
  font-size: 16px;
  line-height: 1.2;
  padding: 0 0 0 26px;
  cursor: pointer;
}
.filter__checkbox > label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid #008f53;
  transform: translateY(-50%);
  cursor: pointer;
}
.filter__checkbox > label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background: #008f53;
  transform: translateY(-50%);
  transition: all 0.25s ease 0s;
  opacity: 0;
}
.filter__search {
  margin: 24px 0 0 auto;
  display: flex;
  align-items: center;
  border: none;
  background: #000000;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
.filter__search > span {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.filter__search > i {
  margin: 0 0 0 12px;
  font-size: 24px;
  color: #ffffff;
}

.banner-hero {
  padding: 50px 0 60px 0;
  background-color: #008f53;
  background-image: url("../images/background/home-hero.jpg"), linear-gradient(94.37deg, rgba(0, 219, 128, 0.6) 52.35%, rgba(0, 0, 0, 0) 100%);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .banner-hero {
    padding: 130px 0 130px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .banner-hero {
    padding: 130px 0 0 0;
  }
}
.banner-hero__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner-hero__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  max-width: 770px;
}
@media only screen and (min-width: 768px) {
  .banner-hero__title {
    font-size: 50px;
  }
}
.banner-hero__text {
  margin: 24px 0 0 0;
  line-height: 1.2;
  color: #ffffff;
  max-width: 770px;
}
@media only screen and (min-width: 768px) {
  .banner-hero__text {
    font-size: 16px;
  }
}
.banner-hero__button {
  margin: 24px 0 0 0;
}
.banner-hero__subtitle {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .banner-hero__subtitle {
    display: block;
    margin: 64px 0 0 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    color: #ffffff;
  }
}
.banner-hero__filter {
  align-self: stretch;
}
@media only screen and (min-width: 1024px) {
  .banner-hero__filter {
    margin: 0 0 -26px 0;
  }
}
.banner-hero__filter > .filter {
  padding: 32px 15px 0 15px;
}
@media only screen and (min-width: 1024px) {
  .banner-hero__filter > .filter {
    margin: 24px 0 0 0;
    padding: 0 0 0 0;
    opacity: 1 !important;
    max-height: none !important;
    overflow: visible !important;
  }
}
.banner-hero__filter-open {
  position: fixed;
  left: 15px;
  bottom: 15px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
@media only screen and (min-width: 1024px) {
  .banner-hero__filter-open {
    display: none;
  }
}

.banner-map {
  padding: 15px 0 30px 0;
  background-color: #008f53;
  background-image: linear-gradient(94.37deg, rgba(0, 219, 128, 0.6) 52.35%, rgba(0, 0, 0, 0) 100%);
}
@media only screen and (min-width: 768px) {
  .banner-map {
    padding: 15px 0 15px 0;
  }
}
@media only screen and (min-width: 768px) {
  .banner-map__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.banner-map__col {
  flex: 0 0 calc(50% - 0px);
}
.banner-map__image {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .banner-map__image {
    margin: 0 0 0 -120px;
  }
}
.banner-map__title {
  color: #ffffff;
}
.banner-map__description {
  margin: 24px 0 0 0;
  color: #ffffff;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .banner-map__description {
    font-size: 16px;
  }
}
.banner-map__button {
  margin: 24px 0 0 0;
}

.carousel {
  padding: 30px 0 30px 0;
}
@media only screen and (min-width: 768px) {
  .carousel {
    padding: 60px 0 60px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .carousel {
    padding: 80px 0 80px 0;
  }
}
@media only screen and (min-width: 768px) {
  .carousel__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 16px 0 0 0;
  }
}
.carousel__description {
  margin: 16px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .carousel__description {
    max-width: 600px;
    margin: 0 0 0 0;
    font-size: 16px;
  }
}
.carousel__more {
  margin: 16px 0 0 0;
  display: flex;
  align-items: center;
}
.carousel__more > * + * {
  margin: 0 0 0 10px;
}
.carousel__more > i {
  font-size: 24px;
}
@media only screen and (min-width: 768px) {
  .carousel__more {
    flex: 0 0 auto;
    margin: 0 0 0 16px;
  }
}
.carousel__slider {
  margin: 18px 0 0 0;
}

.stages {
  position: relative;
  padding: 30px 0 30px 0;
  background-color: #008f53;
  background-image: linear-gradient(94.37deg, rgba(0, 219, 128, 0.6) 52.35%, rgba(0, 0, 0, 0) 100%);
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .stages {
    padding: 60px 0 60px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .stages {
    padding: 80px 0 80px 0;
  }
}
.stages::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  padding: 0 0 32% 0;
  background-image: url("../images/decor/house-transparent.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}
.stages__title {
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .stages__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 16px 0 0 0;
  }
}
.stages__description {
  margin: 16px 0 0 0;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .stages__description {
    max-width: 600px;
    margin: 0 0 0 0;
    font-size: 16px;
  }
}
.stages__slider {
  margin: 24px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .stages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .stages__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.about {
  padding: 30px 0 30px 0;
  background-color: #008f53;
  background-image: url("../images/background/home-about.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .about {
    padding: 60px 0 60px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .about {
    padding: 80px 0 80px 0;
  }
}
.about__title {
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .about__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 16px 0 0 0;
  }
}
.about__description {
  margin: 16px 0 0 0;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .about__description {
    max-width: 600px;
    margin: 0 0 0 0;
    font-size: 16px;
  }
}
.about__more {
  margin: 16px 0 0 0;
  display: flex;
  align-items: center;
}
.about__more > * + * {
  margin: 0 0 0 10px;
}
.about__more > i {
  font-size: 24px;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .about__more {
    flex: 0 0 auto;
    margin: 0 0 0 16px;
  }
}
@media only screen and (min-width: 768px) {
  .about__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 50px 0 0 0;
  }
}
.about__cards {
  margin: 24px 0 0 0;
}
.about__cards > * + * {
  margin: 18px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .about__cards {
    margin: 0 0 0 0;
    flex: 0 0 calc(50% - 15px);
  }
  .about__cards > * + * {
    margin: 60px 0 0 0;
  }
  .about__cards > * {
    max-width: 570px;
  }
}
@media only screen and (min-width: 1024px) {
  .about__cards {
    flex: 0 0 calc(66.66% - 15px);
  }
  .about__cards > * {
    min-height: 270px;
  }
  .about__cards > *:nth-child(2n+2) {
    margin: 60px 0 0 auto;
  }
}
.about__pluses {
  display: none;
}
@media only screen and (min-width: 768px) {
  .about__pluses {
    position: relative;
    flex: 0 0 auto;
    padding: 0 0 16px 0;
    display: block;
    list-style-type: none;
  }
  .about__pluses > * + * {
    margin: 50px 0 0 0;
  }
  .about__pluses::before {
    content: "";
    position: absolute;
    top: 0;
    right: 16px;
    width: 1px;
    height: 100%;
    background: #ffffff;
    opacity: 0.5;
  }
}
.about__pluses-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.about__pluses-label {
  margin: 28px 16px 0 0;
  max-width: 175px;
  text-align: right;
  color: #ffffff;
}
.about__pluses-num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 3px 0 0 0;
  border-radius: 50%;
  background: #ffffff;
  color: #6c6c6c;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s ease 0s;
  z-index: 100;
}
.header--hide {
  transform: translateY(-100%);
}
.header--show {
  transform: translateY(0%);
}
.header__head {
  background: #ffffff;
  padding: 10px 0 10px 0;
}
.header__row {
  display: flex;
  align-items: center;
}
.header__logo {
  margin: 0 32px 0 0;
}
.header__call-container {
  margin: 0 0 0 auto;
}
.header__call-phone {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header__call-phone {
    display: flex;
    align-items: center;
  }
  .header__call-phone > i {
    font-size: 18px;
    line-height: 1;
  }
  .header__call-phone > span {
    margin: 0 0 0 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
}
.header__call-link {
  color: inherit;
  text-decoration: none;
}
.header__call-link > i {
  font-size: 24px;
  color: #008f53;
}
@media only screen and (min-width: 1024px) {
  .header__call-link > i {
    display: none;
  }
}
.header__call-link > span {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header__call-link > span {
    display: inline-block;
    margin: 4px 0 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #008f53;
    border-bottom: 1px dashed #008f53;
  }
  .header__call-link > span:hover {
    border-bottom: 1px solid #008f53;
  }
}
.header__social-container {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header__social-container {
    display: flex;
    align-items: center;
    margin: 0 0 0 30px;
  }
  .header__social-container > * + * {
    margin: 0 0 0 8px;
  }
}
.header__social-link-icon {
  font-size: 24px;
  color: #008f53;
  text-decoration: none;
}
.header__social-link-icon:hover {
  color: #d43a3a;
}
.header__app-container {
  display: flex;
  margin: 0 0 0 8px;
}
.header__app-container > * + * {
  margin: 0 0 0 8px;
}
@media only screen and (min-width: 1024px) {
  .header__app-container {
    display: none;
  }
}
.header__app-link-icon {
  font-size: 24px;
  color: #008f53;
  text-decoration: none;
}
.header__app-link-icon:hover {
  color: #d43a3a;
}
.header__button-menu {
  display: inline-block;
  margin: 0 0 0 16px;
  font-size: 24px;
  color: #d43a3a;
}
@media only screen and (min-width: 1024px) {
  .header__button-menu {
    display: none;
  }
}
.header__button-send {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header__button-send {
    display: flex;
    margin: 0 0 0 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .header__menu {
    background-color: #008f53;
    background-image: linear-gradient(94.37deg, rgba(0, 219, 128, 0.6) 52.35%, rgba(0, 0, 0, 0) 100%);
  }
}

/* footer */
.footer {
  padding: 24px 0 24px 0;
  background: #008f53;
}
.footer__row:nth-child(n+2) {
  margin: 32px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .footer__row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__row {
    flex-wrap: nowrap;
  }
}
.footer__company > * + * {
  margin: 16px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .footer__company {
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__company {
    flex: 0 0 auto;
    margin: 0 auto 0 0;
    padding: 0 32px 0 0;
  }
}
.footer__social {
  margin: 16px 0 0 0;
  display: flex;
  align-items: center;
}
.footer__social > * + * {
  margin: 0 0 0 16px;
}
@media only screen and (min-width: 768px) {
  .footer__social {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__social > * + * {
    margin: 16px 0 0 0;
  }
}
.footer__social-label {
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}
.footer__social-container {
  display: flex;
  align-items: center;
}
.footer__social-container > * + * {
  margin: 0 0 0 10px;
}
.footer__social-link {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
}
.footer__social-link:hover {
  color: #d43a3a;
}
.footer__menu {
  margin: 16px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .footer__menu {
    flex: 0 0 50%;
    margin: 0 0 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__menu {
    flex: 0 0 30%;
  }
}
.footer__contacts {
  margin: 32px 0 0 0;
}
.footer__contacts > * + * {
  margin: 16px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .footer__contacts {
    flex: 0 0 50%;
    margin: 32px 0 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__contacts {
    flex: 0 0 20%;
    margin: 0 0 0 0;
  }
}
.footer__contacts-label {
  color: #ffffff;
  opacity: 0.5;
}
.footer__contacts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px 0 0 0;
}
.footer__contacts-container > * + * {
  margin: 16px 0 0 0;
}
.footer__contacts-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1875;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;
}
.footer__controls {
  margin: 32px 0 0 0;
  display: flex;
  align-items: center;
}
.footer__controls > * + * {
  margin: 0 0 0 32px;
}
@media only screen and (min-width: 768px) {
  .footer__controls {
    flex: 0 0 auto;
    margin: 32px 0 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__controls {
    flex-direction: column;
    align-items: flex-end;
    flex: 0 0 auto;
    margin: 0 0 0 0;
  }
  .footer__controls > * + * {
    margin: 32px 0 0 0;
  }
}
.footer__copyright {
  font-size: 14px;
  margin: 16px 0 0 0;
  color: #ffffff;
  opacity: 0.4;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    flex: 0 0 auto;
    margin: 0 0 0 0;
  }
}
.footer__policy {
  font-size: 14px;
  display: inline-block;
  margin: 16px 0 0 0;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .footer__policy {
    margin: 0 0 0 16px;
  }
}
.footer__team {
  font-size: 14px;
  margin: 16px 0 0 0;
  color: #ffffff;
}
.footer__team > a {
  color: inherit;
  text-decoration: none;
}
.footer__team > a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .footer__team {
    margin: 0 0 0 auto;
  }
}

.page-head {
  padding: 10px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .page-head {
    padding: 30px 0 0 0;
  }
}
@media only screen and (min-width: 768px) {
  .page-head {
    padding: 60px 0 0 0;
  }
}
.page-head__row {
  margin: 16px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .page-head__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .page-head__row > * + * {
    margin: 0 0 0 32px;
  }
}
.page-head__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .page-head__title {
    font-size: 32px;
  }
}
@media only screen and (min-width: 1024px) {
  .page-head__title {
    font-size: 38px;
  }
}
.page-head__controls {
  display: flex;
  align-items: flex-end;
}
.page-head__controls > * + * {
  margin: 0 0 0 24px;
}
.page-head__controls-button {
  display: flex;
  align-items: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}
.page-head__controls-button > i {
  font-size: 24px;
  margin: 0 0 0 12px;
}
.page-head__controls-button > span {
  font-size: 16px;
  line-height: 1.2;
}
@media only screen and (max-width: 767px) {
  .page-head__controls-link.button {
    padding-left: 12px;
    padding-right: 12px;
  }
  .page-head__controls-link > span {
    display: none;
  }
  .page-head__controls-link > i {
    margin: 0 0 0 0;
  }
}

.grid {
  padding: 20px 0 20px 0;
}
@media only screen and (min-width: 768px) {
  .grid {
    padding: 40px 0 60px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .grid {
    padding: 40px 0 80px 0;
  }
}
.grid__inner {
  display: flex;
  flex-wrap: wrap;
}
.grid__inner > *:nth-child(1n+2) {
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .grid__inner {
    justify-content: flex-start;
  }
  .grid__inner > *:nth-child(1n+2) {
    margin-top: 0;
  }
  .grid__inner > *:nth-child(2n+2) {
    margin-left: 30px;
  }
  .grid__inner > *:nth-child(1n+3) {
    margin-top: 30px;
  }
  .grid__inner > * {
    flex: 0 0 calc(50% - 15px);
  }
}
@media only screen and (min-width: 1024px) {
  .grid__inner > *:nth-child(1n+3) {
    margin-top: 0;
  }
  .grid__inner > *:nth-child(1n+4) {
    margin-top: 30px;
  }
  .grid__inner > *:nth-child(2n+2) {
    margin-left: 0;
  }
  .grid__inner > *:nth-child(3n+2),
  .grid__inner > *:nth-child(3n+3) {
    margin-left: 30px;
  }
  .grid__inner > * {
    flex: 0 0 calc(33.33% - 20px);
  }
}